<a href="https://colab.research.google.com/github/MohammedMujtaba/Deep-Learning-Projects/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# M.Mujtaba Cs182020
### Customer Churning Using Deep Learning
Dataset Link: https://www.kaggle.com/datasets/blastchar/telco-customer-churn

Churn = customers lost over a period of time
For detailed data exploring, check this article: https://towardsdatascience.com/churn-prediction-with-machine-learning-ca955d52bd8c

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [5]:
df = pd.read_csv("/content/Churn_Modelling.csv")
df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
5429,5430,15797905,Walker,682,France,Female,48,7,0.00,2,1,0,65069.03,0
1838,1839,15758813,Campbell,350,Germany,Male,39,0,109733.20,2,0,0,123602.11,1
5575,5576,15782879,Lang,656,France,Male,40,2,0.00,2,1,1,180553.48,0
1362,1363,15683841,Hamilton,555,Germany,Male,41,10,113270.20,2,1,1,185387.14,0

In [6]:
df.drop(columns=['RowNumber','CustomerId', 'Surname'],axis='columns',inplace=True)

In [7]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [8]:
#Quick glance at above makes me realize that TotalCharges should be float but it is an object. 
#Let's check what's going on with this column
df.EstimatedSalary.values

array([101348.88, 112542.58, 113931.57, ...,  42085.58,  92888.52,
        38190.78])

In [9]:

pd.to_numeric(df.EstimatedSalary)

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [10]:
# Creating a function to iterate through columns that consist of logical values:
def print_unique_col_values(df):
  for column in df:
    if df[column].dtypes=='object':
      print(f'{column}: {df[column].unique()}')

In [11]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']

In [12]:
df['Gender'].replace({'Female':1,'Male':0},inplace=True)

In [13]:
for col in df:
  print(f'{col}: {df[col].unique()}')

CreditScore: [619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography: ['France' 'Spain' 'Germany']
Gender: [1 0]
Age: [42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure: [ 2  1  8  7  4  6  3 10  5  9  0]
Balance: [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts: [1 3 2 4]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited: [1 0]

In [14]:
#One hot encoding other columns
df1 = pd.get_dummies(data=df, columns=['Geography'])
df1.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [15]:
#In Deep Learning, it is imp to scale the data to ensure that it is between some range
df1.sample(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
1153,755,1,45,7,135643.00,1,0,0,143619.52,1,0,1,0
7542,507,1,34,4,0.00,2,1,1,60688.38,0,0,0,1
6645,850,0,37,4,126872.60,1,1,0,197266.58,0,1,0,0
3158,643,1,31,3,167949.48,1,1,0,143162.34,0,1,0,0
9976,637,1,33,7,103377.81,1,1,0,84419.78,0,1,0,0

In [16]:
cols_to_scale = ['CreditScore','Balance','EstimatedSalary', 'Age', 'Tenure', 'NumOfProducts']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])

In [17]:
df1.sample(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
2562,0.826,1,0.540541,0.9,0.748956,0.000000,0,1,0.179085,0,1,0,0
2973,0.482,1,0.513514,0.9,0.513685,0.000000,1,1,0.981246,1,1,0,0
3648,0.390,0,0.391892,0.8,0.421655,0.000000,0,1,0.339125,1,1,0,0
4098,0.574,0,0.189189,0.5,0.000000,0.000000,0,0,0.743859,0,1,0,0
9022,0.724,0,0.067568,0.2,0.000000,0.333333,0,1,0.333953,0,1,0,0

In [18]:
#train test split for our ANN
X = df1.drop('Exited',axis='columns')
y = df1['Exited']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [19]:
X_train.shape,X_test.shape,X_train[:10]

((8000, 12),
 (2000, 12),
       CreditScore  Gender       Age  Tenure   Balance  NumOfProducts  \
 7751        0.800       1  0.283784     0.6  0.000000       0.333333
 4154        0.752       0  0.216216     0.3  0.000000       0.333333
 3881        0.476       1  0.621622     0.3  0.000000       0.000000
 9238        0.846       1  0.432432     0.4  0.000000       0.333333
 5210        0.402       0  0.229730     0.7  0.517012       0.333333
 7487        0.602       1  0.513514     0.4  0.000000       0.000000
 7542        0.314       1  0.216216     0.4  0.000000       0.333333
 7524        0.620       1  0.297297     0.8  0.666330       0.000000
 9412        0.750       0  0.108108     0.6  0.393324       0.000000
 6377        0.684       0  0.202703     0.9  0.000000       0.000000

       HasCrCard  IsActiveMember  EstimatedSalary  Geography_France  \
 7751          0               0         0.096273                 0
 4154          1               0         0.981478                 1
 3881          1               1         0.948551                 1
 9238          1               0         0.646869                 1
 5210          0               0         0.434670                 1
 7487          0               0         0.421898                 1
 7542          1               1         0.303413                 0
 7524          1               1         0.925815                 1
 9412          0               0         0.668609                 1
 6377          1               0         0.567526                 1

       Geography_Germany  Geography_Spain
 7751                  0                1
 4154                  0                0
 3881                  0                0
 9238                  0                0
 5210                  0                0
 7487                  0                0
 7542                  0                1
 7524                  0                0
 9412                  0                0
 6377                  0                0  )

In [20]:
import tensorflow as tf
from tensorflow import keras


#model = keras.Sequential([
   # keras.layers.Dense(26, input_shape=(26,)), #input layer
  #  keras.layers.Dense(15, activation='relu'), #hidden layer
 #   keras.layers.Dense(1, activation='sigmoid') #ouput layer
#])

#or this will also work
model = keras.Sequential([
    keras.layers.Dense(12, input_shape=(12,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid') #ouput layer
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=150)

Epoch 1/150
250/250 [==============================] - 4s 2ms/step - loss: 0.5719 - accuracy: 0.7360
Epoch 2/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4978 - accuracy: 0.7960
Epoch 3/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4749 - accuracy: 0.7960
Epoch 4/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4629 - accuracy: 0.7962
Epoch 5/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4561 - accuracy: 0.7994
Epoch 6/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4503 - accuracy: 0.8025
Epoch 7/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4448 - accuracy: 0.8076
Epoch 8/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4387 - accuracy: 0.8130
Epoch 9/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4317 - accuracy: 0.8145
Epoch 10/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4232 - accuracy: 0.8169
Epoch 11/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4148 - accuracy: 0.8198
Epoch 12/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4075 - accuracy: 0.8246
Epoch 13/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4005 - accuracy: 0.8285
Epoch 14/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3941 - accuracy: 0.8320
Epoch 15/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3887 - accuracy: 0.8363
Epoch 16/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3840 - accuracy: 0.8370
Epoch 17/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3792 - accuracy: 0.8409
Epoch 18/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3758 - accuracy: 0.8434
Epoch 19/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3720 - accuracy: 0.8447
Epoch 20/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3690 - accuracy: 0.8461
Epoch 21/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3661 - accuracy: 0.8453
Epoch 22/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3639 - accuracy: 0.8490
Epoch 23/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3619 - accuracy: 0.8509
Epoch 24/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3595 - accuracy: 0.8515
Epoch 25/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3578 - accuracy: 0.8520
Epoch 26/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3556 - accuracy: 0.8508
Epoch 27/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3541 - accuracy: 0.8533
Epoch 28/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3523 - accuracy: 0.8541
Epoch 29/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3507 - accuracy: 0.8569
Epoch 30/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3497 - accuracy: 0.8549
Epoch 31/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3488 - accuracy: 0.8547
Epoch 32/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3479 - accuracy: 0.8569
Epoch 33/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3467 - accuracy: 0.8561
Epoch 34/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3467 - accuracy: 0.8581
Epoch 35/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3454 - accuracy: 0.8574
Epoch 36/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3453 - accuracy: 0.8586
Epoch 37/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8601
Epoch 38/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8587
Epoch 39/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3439 - accuracy: 0.8599
Epoch 40/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8587
Epoch 41/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8601
Epoch 42/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3423 - accuracy: 0.8585
Epoch 43/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8608
Epoch 44/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3423 - accuracy: 0.8615
Epoch 45/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8609
Epoch 46/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8599
Epoch 47/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8596
Epoch 48/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8606
Epoch 49/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8618
Epoch 50/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8611
Epoch 51/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8605
Epoch 52/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3398 - accuracy: 0.8610
Epoch 53/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8609
Epoch 54/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8611
Epoch 55/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8614
Epoch 56/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3398 - accuracy: 0.8595
Epoch 57/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3390 - accuracy: 0.8601
Epoch 58/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8612
Epoch 59/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8626
Epoch 60/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8608
Epoch 61/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8608
Epoch 62/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8609
Epoch 63/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3376 - accuracy: 0.8602
Epoch 64/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8612
Epoch 65/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8606
Epoch 66/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8612
Epoch 67/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8606
Epoch 68/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3370 - accuracy: 0.8624
Epoch 69/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8611
Epoch 70/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8616
Epoch 71/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3370 - accuracy: 0.8619
Epoch 72/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8612
Epoch 73/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8618
Epoch 74/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8625
Epoch 75/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8645
Epoch 76/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8624
Epoch 77/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8611
Epoch 78/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8636
Epoch 79/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8639
Epoch 80/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8641
Epoch 81/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8625
Epoch 82/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8627
Epoch 83/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3358 - accuracy: 0.8627
Epoch 84/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8618
Epoch 85/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8633
Epoch 86/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8631
Epoch 87/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8627
Epoch 88/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8639
Epoch 89/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8615
Epoch 90/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8635
Epoch 91/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8631
Epoch 92/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3353 - accuracy: 0.8629
Epoch 93/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8631
Epoch 94/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8629
Epoch 95/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8631
Epoch 96/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8639
Epoch 97/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8625
Epoch 98/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8631
Epoch 99/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8620
Epoch 100/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8641
Epoch 101/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3346 - accuracy: 0.8631
Epoch 102/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8644
Epoch 103/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8631
Epoch 104/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8631
Epoch 105/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8633
Epoch 106/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8643
Epoch 107/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8636
Epoch 108/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8621
Epoch 109/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8621
Epoch 110/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8641
Epoch 111/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8626
Epoch 112/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8625
Epoch 113/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8643
Epoch 114/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8645
Epoch 115/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8634
Epoch 116/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8626
Epoch 117/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8622
Epoch 118/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8654
Epoch 119/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8633
Epoch 120/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8636
Epoch 121/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3335 - accuracy: 0.8644
Epoch 122/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8650
Epoch 123/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8631
Epoch 124/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8637
Epoch 125/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8622
Epoch 126/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8650
Epoch 127/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8650
Epoch 128/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8646
Epoch 129/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8635
Epoch 130/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8656
Epoch 131/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8627
Epoch 132/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8639
Epoch 133/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8646
Epoch 134/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8634
Epoch 135/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8630
Epoch 136/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8641
Epoch 137/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8636
Epoch 138/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8644
Epoch 139/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8636
Epoch 140/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8636
Epoch 141/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8645
Epoch 142/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8648
Epoch 143/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8637
Epoch 144/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8644
Epoch 145/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8645
Epoch 146/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3320 - accuracy: 0.8650
Epoch 147/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8641
Epoch 148/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3317 - accuracy: 0.8633
Epoch 149/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8658
Epoch 150/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8641

In [22]:
yp = model.predict(X_test)
yp[:5]

array([[0.03136799],
       [0.07831656],
       [0.05684077],
       [0.07911096],
       [0.07312907]], dtype=float32)

In [24]:
#Convert probabilistic values to 0,1
y_pred = []
for element in yp:
  if element > 0.5:
    y_pred.append(1)
  else:
    y_pred.append(0)

In [25]:
y_pred[:5], y_test[:5]

([0, 0, 0, 0, 0], 7054    0
 442     0
 3954    0
 2288    0
 3196    0
 Name: Exited, dtype: int64)

In [26]:
#Evaluating the prediction
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.95      0.91      1595
           1       0.71      0.46      0.56       405

    accuracy                           0.85      2000
   macro avg       0.79      0.71      0.74      2000
weighted avg       0.84      0.85      0.84      2000